.sidebar {
  grid-area: sidebar;
  background: $sidebar-color;
  min-width: 14rem;

  &__title {
    color: $main-color;
    font-family: $logo-font;
    margin: 2rem 1.2rem 2rem 1.2rem;
    letter-spacing: 1px;
    font-size: 1.8rem;
  }

  &__item {
    font-family: $sidebar-font;
    color: white;
    display: inline-block;
  }

  &__icon {
    margin: 0 1.2rem 0 0;
  }

  &__section {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.089);
    margin: 0 1.2rem 0 2rem;
  }

  &__wrapper {
    margin: 0;
    padding: 0;
    &:hover {
      background-color: $highlighted-color;
      border-left: 0.3rem solid $main-color;
    }
  }

  &__active {
    background-color: $highlighted-color;
    border-left: 0.3rem solid $main-color;
  }
}
