//OpenSans
@font-face {
  font-family: OpenSans;
  src: url("../../assets/fonts/OpenSans.ttf");
}

//OpenSans-Light
@font-face {
  font-family: OpenSans-Light;
  src: url("../../assets/fonts/OpenSans-Light.ttf");
}

//Myriad-Pro-Regular
@font-face {
  font-family: Myriad-Pro-Regular;
  src: url("../../assets/fonts/Myriad-Pro-Regular.ttf");
}

//HurmeGeometricSans4-Black
@font-face {
  font-family: HurmeGeometricSans4-Black;
  src: url("../../assets/fonts/HurmeGeometricSans4_Black.otf");
}

//OpenSans-Bold
@font-face {
  font-family: OpenSans-Bold;
  src: url("../../assets/fonts/OpenSans-Bold.ttf");
}
