$sidebar-color: #303841;
$overview-color: #ededed;
$main-color: #ffc12d;
$highlighted-color: #442a9d;

$sidebar-font: OpenSans-Light, AdobeInvisFont, MyriadPro-Regular;
$basic-font: OpenSans, AdobeInvisFont, MyriadPro-Regular;
$logo-font: HurmeGeometricSans4-Black, AdobeInvisFont, MyriadPro-Regular;
$heading-font: AdobeInvisFont, OpenSans-Bold, MyriadPro-Regular;
